.section {
  max-width: 800px;
  margin: 0 auto;
  & + & {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #ccc;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
