<section class="section">
  <h2 class="title">http request with default components</h2>
  <ng-template [ngxSuspense]="fetchRandomDog$" let-data="value">
    <img [src]="data.message" alt="cat" width="100%" />
  </ng-template>
  <button (click)="refreshDog()">reload</button>
</section>

<section class="section">
  <h2 class="title">with custom components</h2>

  <div class="content">
    <ng-container *ngxSuspense="source1$; fallback: Fallback; error: Error">
      <app-loaded></app-loaded>
    </ng-container>
  </div>

  <ng-template #Fallback>
    <div class="loader-container">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
  <ng-template #Error let-error="error"> Error {{ error.message }} </ng-template>
</section>

<section class="section">
  <h2 class="title">with default components</h2>

  <div class="content">
    <ng-container *ngxSuspense="source2$">
      <app-loaded></app-loaded>
    </ng-container>
  </div>
</section>
